.form-control{
    display: flex;
    flex-direction: column;
}
.form-header{
    justify-content: flex-start;
    text-align: left;
    font-weight: 600;
    font-size: large;
    margin-bottom: 8px;
    margin-top: 12px;
}
.submit-button-div{
    margin-top: 16px;
}
.submit-button{
    width: 40%;
    min-width: 100px;
    height: 30px;
    background-color: rgb(131, 226, 93);
    border: none;
    cursor: pointer;
    font-weight: 800;
    font-size: medium;
    color: white;
    border-radius: 25px;
}